
@media screen and (max-width: 700px) {
    .sorry{
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        margin:50% 10%;
    }
}
.App{
    display: flex;
}
.chat-list-wrapper{
    display: flex;
    flex-direction: column;
}
.chat-list{
    display: flex;
    flex-direction: column;
    height:800px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
}
.chat-list::-webkit-scrollbar {
    width: 0;
}
.current-chat{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 392px);
}
.chat-window{
    height: 586px;
    display: flex;
    padding:14px;
    flex-direction: column;
    gap:34px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.chat-window::-webkit-scrollbar {
    width: 0;
}
